button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1; /* Garante que o modal fique sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura completa da tela */
    height: 100%; /* Altura completa da tela */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}

/* Estilos do conteúdo do modal */
.modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto; /* Centraliza verticalmente e horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Largura do modal */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}

/* Estilos do botão de fechar (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}